.container-fluid {
   width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12-of-12 {
    width: 100%; 
    background-color: red;   
}

.col-1-of-12 {
    width: calc(100%/12);
    background-color: wheat;
}

.col-2-of-12 {
    width: calc(200%/12);
}
.col-3-of-12 {
    width: calc(300%/12);
}

.col-4-of-12 {
    width: calc(400%/12);
}

.col-5-of-12{
    width: calc(500%/12);
}

.col-6-of-12{
    width: calc(600%/12);
}

.col-7-of-12{
    width: calc(700%/12);
}

.col-8-of-12{
    width: calc(800%/12);
}

.col-9-of-12{
    width: calc(900%/12);
}

.col-10-of-12{
    width: calc(1000%/12);
}

.col-11-of-12{
    width: calc(1100%/12);
}

@media only screen and (max-width: 600px){
    .col-sm-12-of-12 {
        width: 100%; 
        background-color: red;   
    }
    
    .col-sm-1-of-12 {
        width: calc(100%/12);
        background-color: wheat;
    }
    
    .col-sm-2-of-12 {
        width: calc(200%/12);
    }
    .col-sm-3-of-12 {
        width: calc(300%/12);
    }
    
    .col-sm-4-of-12 {
        width: calc(400%/12);
    }
    
    .col-sm-5-of-12{
        width: calc(500%/12);
    }
    
    .col-sm-6-of-12{
        width: calc(600%/12);
    }
    
    .col-sm-7-of-12{
        width: calc(700%/12);
    }
    
    .col-sm-8-of-12{
        width: calc(800%/12);
    }
    
    .col-sm-9-of-12{
        width: calc(900%/12);
    }
    
    .col-sm-10-of-12{
        width: calc(1000%/12);
    }
    
    .col-sm-11-of-12{
        width: calc(1100%/12);
    }
}