* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    clear: both;
}


.container {
    width: 1170px;
    margin: 0 5%;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container h {
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0;
    text-transform: uppercase;
}

ul {
    float: right;
}

ul li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 2px;
    margin: -3px 20px 0px 20px;
    text-transform: uppercase;

}

.intro {
    background-image: url("http://www.templatewire.com/preview/interact/img/intro-bg.jpg");
    width: 100%;
    padding: 0;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
}

.intro h1 {
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 300px;
    margin-left: auto;
    text-transform: uppercase;

}

.intro p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.intro a {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #6372ff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 34px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    margin-left: 45%;
}

#features {
    text-align: center;
    padding: 70px 0 100px;
    background: #f6f6f6;
}

#features h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    color: #333;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 70px;
}

#features i.fa {
    font-size: 38px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: cornflowerblue;
    padding: 30px;
}

#features h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
}

#features p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 20px;
}

#about .container {
    display: flex;
    flex-direction: row;
}

#about {
    padding: 100px 0;
}


#about img {
    flex-grow: 1;
    width: 520px;
    margin-top: 30px;
}

.about-text {
    padding-left: 50px;
    margin-left: 20px;
}

.about-text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    color: #333;
}

.about-text p {
    line-height: 24px;
    margin: 30px 0;
    color: #777;
    font-weight: 400;
}

.about-text h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.about-list li {
    font-size: 14px;
    float: left;
}


#services {
    background-color: #5ca9fb;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

#services h2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-top: -15px;
    font-size: 36px;
    font-weight: 700;
}

.AAA p {
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

#services i.fa {
    background: #6372ff;
    color: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 42px;
    padding: 40px;
}

#services h3 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.col-4 {
    padding: 0 20px;
}

.items p {
    font-size: 15px;
    color: rgba(255, 255, 255, .75);

}

#gallery {
    padding: 100px 0;
}

.container {
    width: 1170px;
}

.gallery h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    color: #333;
    font-family: 'Raleway', sans-serif;
}

.gallery p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #777;
    padding-bottom: 50px;
}

.gallery-card {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    margin: 0;
    background-color: #5ca9fb;
    text-align: center;
}

.gallery-card:hover .overlay {
    opacity: 0.75;
}

.overlay h4 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding-top: 140px;
}

.overlay h5 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding-top: 130px;
}

.overlay h6 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding-top: 130px;
}